SPRING_PROFILES_ACTIVE=prod
MYSQL_URL=jdbc:mysql://mysql.internal:3306/web3_wallet?useSSL=true&requireSSL=true&serverTimezone=UTC
MYSQL_USERNAME=wallet_app
MYSQL_PASSWORD=secret-manager-reference
REDIS_HOST=redis.internal
REDIS_PORT=6379
REDIS_PASSWORD=secret-manager-reference
JWT_SECRET=secret-manager-random-value-at-least-48-characters
WEB3_RPC_URL=https://primary-rpc.example
WEB3_CHAIN_ID=1
WALLET_SIGNER_HOT_WALLET_ADDRESS=0x0000000000000000000000000000000000000000
WALLET_SIGNER_KEY_ID=withdraw-prod-v1
WALLET_SIGNER_REMOTE_URL=https://signer.internal
WALLET_SIGNER_REMOTE_API_TOKEN=secret-manager-reference
WALLET_CUSTODY_ENABLED=false
WALLET_CUSTODY_REMOTE_URL=https://custody.internal
WALLET_CUSTODY_REMOTE_API_TOKEN=secret-manager-reference
WALLET_SCAN_ENABLED=false
WALLET_CUSTODY_SWEEP_ENABLED=false
WALLET_WITHDRAW_BROADCAST_ENABLED=false
WALLET_WITHDRAW_RECEIPT_ENABLED=false
WALLET_RECONCILIATION_ENABLED=false

